<!-- <Button text="grid works!" class="btn btn-primary"></Button> -->
<GridLayout id="grid-view" rows="*,*,*" columns="*,*,*" >
    <Label row="1" col="0" text=" " (tap)="onGameMoveTap(0)"></Label>
    <Label row="1" col="1" text=" " (tap)="onGameMoveTap(1)"></Label>
    <Label row="1" col="2" text=" " (tap)="onGameMoveTap(2)"></Label>
    <Label row="2" col="0" text=" " (tap)="onGameMoveTap(3)"></Label>
    <Label row="2" col="1" text=" " (tap)="onGameMoveTap(4)"></Label>
    <Label row="2" col="2" text=" " (tap)="onGameMoveTap(5)"></Label>
    <Label row="0" col="0" text=" " (tap)="onGameMoveTap(6)"></Label>
    <Label row="0" col="1" text=" " (tap)="onGameMoveTap(7)"></Label>
    <Label row="0" col="2" text=" " (tap)="onGameMoveTap(8)"></Label> 
</GridLayout>