<!-- <Button text="grid works!" class="btn btn-primary"></Button> -->
<GridLayout rows="*,*,*" columns="*,*,*" >
    <Label row="1" col="0" text="X"></Label>
    <Label row="1" col="1" text="X"></Label>
    <Label row="1" col="2" text="X"></Label>
    <Label row="2" col="0" text="X"></Label>
    <Label row="2" col="1" text="X"></Label>
    <Label row="2" col="2" text="X"></Label>
    <Label row="0" col="0" text="X"></Label>
    <Label row="0" col="1" text="X"></Label>
    <Label row="0" col="2" text="X"></Label> 
</GridLayout>