<!-- <Button text="stack works!" class="btn btn-primary"></Button> -->
<StackLayout height="45%">
    <StackLayout height="30%">
        <Label class="title"  text="Welcome to Tic Tac Toe!">
        </Label>
        <Label class="sub"  text="written in NativeScript">
        </Label>
    </StackLayout>
    <StackLayout class="radio-group" height="20%" orientation="horizontal">
        <Button class="radio-btn" text="X">

        </Button>
        <Button class="radio-btn" text="O">

        </Button>
    </StackLayout>
    <Label class="info" height="30%" text="Your piece is X. ">
    </Label>
    <StackLayout class="actions" height="20%" orientation="horizontal">
        <Button class="action-btn" text="Start">

        </Button>
        <Button class="action-btn" text="Reset">

        </Button>
    </StackLayout>
    

</StackLayout>